/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.card {
    width: 350px;
}

.navbar {
    padding: 15px;
}

.list-group-item.completed {
    text-decoration: line-through;
    background-color: #d4edda;
}
